# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
venv/
.venv/

# Airflow logs
logs/

# Airflow database
airflow.db

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

# Data files
data/*.json

# Docker
*.pid

# Pytest
.pytest_cache/

# Cache
.cache/

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp